<% layout("/layouts/boilerplate") %>

<body>
  <div class="container d-flex justify-content-center align-items-center min-vh-100">
    
   <div class="alert alert-warning text-center p-4 shadow w-100" role="alert" style="max-width:600px;">
      
      <h5 class="alert-heading mb-0"><%= err.message %></h5>
    
    </div>

  </div>
</body>
