<%layout("/layouts/boilerplate")%>
<body >
    <div class="alert alert-warning col-6 offset-3 mt-5"  role="alert" style="height: 350px;  width:85% ; margin-left:80px;">
   
      <div style="margin-top: 8.5em;"><h5 class="alert-heading" style="text-align:center;"><%=err.message%></h5></div>
   
  
  </div>
</div>
</body>